{% extends 'main/base.html' %}

{% block title %}
Підписка на розсилку
{% endblock %}

{% block content %}


<section class="subscribe text-center my-style-margin">
  <div class="container">
    <h1 class="display-4">Отримувати новинки та акції</h1>
      <form method="post"  class="display-3 my-style-margin">
      {% csrf_token %}
      {{ form.mail_subscribe }}<br>
      <button type="submit" class="btn btn-primary my-2 lead my-4">Підписатись</button>
      <span>{{ error }}</span>
    </form>
  </div>
</section>

  {% endblock %}
